@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Influencer Wanna Be</h1>
    <p> If you want to become an influencer now you can realize your dream with our help </p>
</div>
