@using Microsoft.AspNetCore.Identity
@using InfluencerWannaBe.Services.Influencers
@using InfluencerWannaBe.Services.Publisher

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IInfluencerService Influencers
@inject IPublisherService Publishers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InfluencerWannaBe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">InfluencerWannaBe</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Influencers
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" asp-controller="Influencers" asp-action="Influencers">All</a>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    var userId = User.GetId();
                                    var userIsInfluencer = Influencers.IsInfluencer(userId);                                   

                                    if (!userIsInfluencer)
                                    {
                                        <a class="dropdown-item" asp-controller="Influencers" asp-action="AddAccaunt">Become Influencer</a>
                                    }
                                }
                            </div>
                        </li>
                        <li class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Offers
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" asp-controller="Offers" asp-action="Offers">All</a>                               
                                <a class="dropdown-item" asp-controller="Offers" asp-action="AddOffer">Add offer</a>
                            </div>
                        </li>
                        <li class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Publishers
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" asp-controller="Publishers" asp-action="Publishers">All</a>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    var userId = User.GetId();                                    
                                    var userIsPublisher = Publishers.IsPublisher(userId);
                                    @if (!userIsPublisher)
                                    {
                                        <a class="dropdown-item" asp-controller="Publishers" asp-action="BecomePublisher">Become Publisher</a>
                                    }
                                }
                            </div>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - InfluencerWannaBe
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
}
</html>
