@using Microsoft.AspNetCore.Identity
@using InfluencerWannaBe.Services.Influencers
@using InfluencerWannaBe.Services.Publisher
@using InfluencerWannaBe.Data.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IInfluencerService Influencers
@inject IPublisherService Publishers

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var userId = User.GetId();
        var userIsInfluencer = Influencers.IsInfluencer(userId);
        var userIsPublisher = Publishers.IsPublisher(userId);

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                MyAccount
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                @if (userIsPublisher)
                {
                    <a class="dropdown-item" asp-controller="Publishers" asp-action="PublisherOffer">Published Offers</a>
                }
                @if (userIsInfluencer)
                {
                    <a class="dropdown-item" asp-controller="Influencers" asp-action="SignInOffers">SignIn Offers</a>
                }
                else
                {
                    <a class="dropdown-item" asp-controller="Offers" asp-action="AddOffer">Option 3</a>
                }
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
